.app-menuitem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    /* background-color: black; */
}
.app-menuitem-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}
.app-menuitem-title {
    width: 100%;
}
.app-menuitem-title h1 {
    /* width: 192px; */
/* height: 30px; */

/* H5 23px Cormorant Upright */

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */

letter-spacing: 0.04em;
text-transform: capitalize;
width: 100%;


/* DCCA87 */

color: #DCCA87;

}
.menuitem-dash {
    width: 119px;
height: 1px;
margin: 10px;

/* FAFAFA */

background: #FAFAFA;

}
.app-menuitem-bot {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.app-menu-item-price h1 {
    width: 37px;
height: 30px;

/* H5 23px Cormorant Upright */

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
/* identical to box height, or 30px */

text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;


/* FFFFFF */

color: #FFFFFF;

}
.app-menuitem-bot p {
    width: 100%;
height: 28px;
text-align: left;
display: flex;
/* Body 16px Regular */

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
/* identical to box height, or 28px */

text-align: center;
letter-spacing: 0.04em;

/* AAAAAA */

color: #AAAAAA;

}