.main-heading {
    display: flex;
    flex-direction: column;

   
}
.main-heading h3 {
    width: 231px;
    height: 30px;
    
    /* H5 23px Cormorant Upright */
    
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    /* identical to box height, or 30px */
    
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    /* FFFFFF */
    
    color: #FFFFFF;
margin-bottom: 28px;
    
    
}
.main-images img {
    height: 10px;
    width: 50px;
}